<div class="jumbotron" id="myJumbotron">
  <div class="container" style="text-align:center">
    <h3> Edita tu árticulo </h3>
  </div>
</div>

<%= render 'form' %> 

<div style="margin-left:2%">
<%= link_to 'Ver árticulo', @pin %> | <%= link_to 'Volver', pins_path %> 
</div>
