<div class="jumbotron" id="myJumbotron">
  <div class="container" style="text-align:center">
    <h3> Lista de artículos </h3>
  </div>
</div>

<br> </br> 



<table class="table table-striped" id="indexPinsTable">
<tr> 
  <th> Descripción </th>
  <th> Acción </th>
</tr>
  <% @pins.each do |pin| %>
  <tr> 
    <td> <%= pin.description %> </td>
    <td> <%=link_to 'Ver', pin %> | Editar | Borrar </td>
  </tr>
  <% end %>
</table>

<button type="button" class="btn btn-default" id="indexPinsBtn"> <%= link_to 'Añadir Árticulo', new_pin_path %>  </button> 






