<div class="jumbotron" id="myJumbotron">
  <div class="container" style="text-align:center">
    <h2> Presiona la imagen para acceder a algun otro proyecto que le interese </h2> 
  </div>
</div>


<div class="row" id="myRows">

  <div class="col-xs-3">
    <div class="thumbnail" id="mymediabox">
      <img id="mythumbnail" src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/logos/epa.jpeg" alt="...">
      <div class="caption">
        <h4>USEPA Volunteer Monitoring Water </h4>
        <p> Across the country, trained volunteers are monitoring the condition of their local streams, lakes, estuaries and wetlands. EPA encourages all citizens to learn about their water resources and supports volunteer monitoring because of its many benefits. </p>
        <p><a href="http://water.epa.gov/type/rsl/monitoring/" class="btn btn-primary" role="button">Visitar</a> <a href="http://water.epa.gov/contactus.cfm?fromurl=water%2Eepa%2Egov%2Ftype%2Frsl%2Fmonitoring%2Findex%2Ecfm" class="btn btn-default" role="button">Contactar</a></p>
      </div>
    </div>
  </div>

 <div class="col-xs-3">
    <div class="thumbnail" id="mymediabox">
      <img id="mythumbnail" src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/logos/water_monitoring.png" alt="...">
      <div class="caption">
        <h4> Extension Volunteer Monitoring </h4>
        <p> This National Facilitation project works to build a comprehensive support system for Extension volunteer water quality monitoring efforts across the country. The goal is to expand and strengthen the capacity of existing Extension volunteer monitoring programs and support development of new groups.</p>
        <p><a href="http://www.usawaterquality.org/volunteer/" class="btn btn-primary" role="button">Visitar</a> <a href="http://www.usawaterquality.org/volunteer/contacts.html" class="btn btn-default" role="button">Contactar</a></p>
      </div>
    </div>
  </div>

<div class="col-xs-3">
    <div class="thumbnail" id="mymediabox">
      <img id="squarethumbnail" src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/logos/usepa_citizen.png" alt="...">
      <div class="caption">
        <h4> USEPA Citizen Science</h4>
        <p> Citizen Science is a vital fast-growing field in which scientific investigations are conducted by volunteers.  Individuals and community groups have long collected data to better understand their local environment and address issues of concern to them. </p>
        <p> 
          <a href="http://www.epa.gov/region2/citizenscience/" class="btn btn-primary" role="button">Visitar</a> 
          <a href="http://www.epa.gov/region02/contactr2.htm" class="btn btn-default" role="button">Contactar</a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-xs-3">
    <div class="thumbnail" id="mymediabox">
      <img id="mythumbnail" src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/logos/watershed.png" alt="...">
      <div class="caption">
        <h5>University of Rhode Island Watershed Watch</h5>
        <p> The URI Watershed Watch (URIWW) is a volunteer water quality monitoring program that works with local communities to assess water quality, identify sources of pollution in water and provide information about water leading to more effective management of critical water resources.</p>
        <p><a href="http://www.uri.edu/ce/wq/ww/" class="btn btn-primary" role="button">Visitar</a> <a href="http://www.uri.edu/ce/wq/contacts.htm" class="btn btn-default" role="button">Contactar</a></p>
      </div>
    </div>
  </div>

</div>



<div class="row" id="myRows">


   <div class="col-xs-3">
    <div class="thumbnail" id="mymediabox">
      <img id="mythumbnail" src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/logos/sotomayor.png" alt="...">
      <div class="caption">
        <h4>Página web Dr.Sotomayor</h4>
        <p> Calidad de suelos y aguas, fertilidad de suelos, manejo de nutrientes, transporte de nutrientes de suelos y aguas, transformaciones de C y N en suelos </p>
        <p><a href="http://academic.uprm.edu/dsotomayor/" class="btn btn-primary" role="button">Visitar</a> <a href="http://academic.uprm.edu/dsotomayor/" class="btn btn-default" role="button">Contactar</a></p>
      </div>
    </div>
  </div>

 <div class="col-xs-3">
    <div class="thumbnail" id="mymediabox">
      <img id="mythumbnail" src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/logos/clubes4H2.png" alt="...">
      <div class="caption">
        <h4>Extensión Agricola - Clubes 4H </h4>
        <p> El Programa de Juventud y Clubes 4-H responde a las necesidades de la gente joven entre las edades de 5 a 19 a años. Combina los esfuerzos técnicos-educativos del personal docente del Servicio de Extensión Agrícola con la ayuda de voluntarios y el auspicio de la empresa privada. </p>
        <p><a href="http://agricultura.uprm.edu/sea/club4h/ambiente.html" class="btn btn-primary" role="button">Visitar</a> <a href="http://agricultura.uprm.edu/sea/club4h/index.html" class="btn btn-default" role="button">Contactar</a></p>
      </div>
    </div>
  </div>

   <div class="col-xs-3">
    <div class="thumbnail" id="mymediabox">
      <img id="mythumbnail" src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/logos/logoSEA.png" alt="...">
      <div class="caption">
        <h4> Servicio de Extensión Agrícola </h4>
        <p> El Servicio de Extensión Agrícola (SEA) fue creado en los Estados Unidos mediante la Ley Smith Lever y comenzó en Puerto Rico en el 1934. El SEA, junto a la Estación Experimental Agrícola (EEA) y a la Facultad de Agricultura, es parte integral del Colegio de Ciencias Agrícolas del Recinto Universitario de Mayagüez de la Universidad de Puerto Rico. </p>
        <p><a href="http://agricultura.uprm.edu/sea/club4h/index.html" class="btn btn-primary" role="button">Visitar</a> <a href="http://agricultura.uprm.edu/sea/club4h/index.html" class="btn btn-default" role="button">Contactar</a></p>
      </div>
    </div>
  </div>

  <div class="col-xs-3">
    <div class="thumbnail" id="mymediabox">
      <img id="mythumbnail" src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/logos/estacion_exp.png" alt="...">
      <div class="caption">
        <h4> Estación Experimental Agrícola </h4>
        <p> La Estación Experimental Agrícola (EEA) investiga de importancia económica como tabaco, cítricos, piña, arroz y frutos menores. Posteriormente, el estudio de los suelos y de las enfermedades de las plantas, y la selección de semillas nativas e introducidas. </p>
        <p><a href="http://openpublic.eea.uprm.edu/" class="btn btn-primary" role="button">Visitar</a> <a href="http://openpublic.eea.uprm.edu/webform/cont%C3%A1ctenos" class="btn btn-default" role="button">Contactar</a></p>
      </div>
    </div>
  </div>


</div>


   