<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active peopleCarousel">
      <img class="peopleCarousel" src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/campo/10_8_14-%2320+paisaje+y+tubo+descarga_cmpr.jpg" alt="...">
      <div class="carousel-caption" id="myCarouselCaption">
        Punto de muestreo en la bahía de Guanica
      </div>
    </div>
    <div class="item peopleCarousel">
      <img class="peopleCarousel" src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/muestreo/sampling_points.jpg" alt="...">
      <div class="carousel-caption" id="myCarouselCaption">
        Estaciones de muestreo     
      </div>
    </div>
    <div class="item peopleCarousel">
      <img class="peopleCarousel" src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/campo/canalderiego.jpg" alt="...">
      <div class="carousel-caption" id="myCarouselCaption">
        Canal de riego en Lajas
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
</div>


<div class="row">
  <div class="col-xs-4" id="homeColumns" style="margin-top:30px"> <h3> Bienvenidos a nuestro portal del proyecto: </h3> 
  <strong>Avalúo de la Calidad del Agua y de la Infraestructura de Tratamiento de Aguas en el Suroeste de Puerto Rico.
  </strong>
  <br></br>
  Este proyecto se realiza como un proyecto colaborativo entre la Universidad de Puerto Rico, Recinto de Mayagüez, Colegio de Ciencias Agrícolas (UPR-RUM) y la Agencia de Protección Ambiental (US EPA por sus siglas en inglés), Gulf Ecology Division, Gulf Breeze, Fl. 
<br></br>
  El objetivo del portal es tener un foro de presentación del proyecto, y que sirva de plataforma educativa e interactiva para que los participantes puedan conocer sobre todo los aspectos del proyecto y sobre el tema de calidad de aguas y fuentes de contaminación fecal en el Suroeste de Puerto Rico. 
<br></br> 
  Hemos optado por operar este portal en el idioma español para facilitar la participación e interacción de los participantes voluntarios y del público en general que quiera interactuar. 
</div>
  
  <div class="col-xs-4" id="homeColumns" style="margin-top:52px"> 
  Esperamos que a través de la ejecución del proyecto, de la participación de los estudiantes, y de la diseminación de los resultados, se cree mayor conciencia sobre la importancia del mantenimiento de la calidad de agua en Puerto Rico. En particular nos interesa que el público conozca sobre la importancia del buen uso de las tierras y como los distintos usuarios en una cuenca pueden contribuir al mantenimiento de la calidad de las aguas minimizando la contaminación fecal.
<br></br>
En este proyecto participan investigadores del UPR-RUM, investigadores de la USEPA, estudiantes graduados, estudiantes subgraduados y personal de apoyo técnico de UPR-RUM y estudiantes participantes de programas 4-H del Servicio de Extensión Agrícola.
<br></br>
  Si tienes preguntas específicas sobre la calidad de aguas en tu área, trataremos de orientarte en la dirección correcta con las personas adecuadas. Nos puedes <%= link_to "contactar", getcontact_path %> o escribir en nuestro blog interactivo. 
<br></br>

  <strong> David Sotomayor Ramírez, Ph.D. Coordinador del Proyecto </strong> 
  </div>
  
  <div class="col-xs-4" id="homeColumns" style="margin-top:52px"> 
<a class="twitter-timeline" href="https://twitter.com/waterqualitypr" data-widget-id="537255588930265088">Tweets by @waterqualitypr</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
</div>


