<div class="jumbotron" id="myJumbotron">
  <div class="container">
    <h2 style="text-align: center"> Conoce a nuestro personal <h2> 
  </div>
</div>

<div class="row" id="myRows">

  <div class="col-xs-4">
	 <div class="media">
  	<a class="">
    	<img class="img-rounded" src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/personal/GustavoMartinez.jpg" alt="..." style="width:150px; height:150px; float:left; margin-right: 10px">
  	</a>
  <div class="" style="text-align:justify">
    <h5 class="media-heading"> Gustavo Martínez Rodriguez </h5>
    		El Dr. Martínez es Químico de Suelos y especialista en el tema de calidad de aguas, adscrito a la Estación Experimental Agrícola en la Universidad de Puerto Rico, Recinto Universitario de Mayagüez. En los últimos quince años el Dr. Martínez ha liderado un grupo de trabajo para el studio y desarrollo de criterios numéricos de nutrientes en ríos y embalses de Puerto Rico. El grupo ha estudiado en detalle el mecanismo de transporte de nutrientes, indicadores microbianos de contaminación, cianotoxinas, eutroficación de cuerpos de agua, entre otros temas relacionados. El Dr. Martínez mantiene un programa muy activo en la mentoría de estudiantes graduados, subgraduados y K-12 como parte de su rol educativo en la calidad de aguas, química de suelos, y ecología de suelos.
  	</div>
	</div>
</div>

  <div class="col-xs-4">
	 <div class="media">
  	<a class="">
    	<img class="img-rounded" src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/personal/DavidSotomayor.jpg" alt="..." style="width:150px; height:150px; float:left; margin-right: 10px">
  	</a>
  	<div class="" style="text-align:justify">
    	<h5 class="media-heading"> David Sotomayor Ramírez </h5>
    		El Dr. Sotomayor es catedrático en la Universidad de Puerto Rico, Recinto Universitario de Mayagüez en el Departamento de Cultivos y Ciencias Agroambientales. El Dr. Sotomayor regularmente dicta los cursos Curso General de Suelos, Fertilidad de Suelos y Abonos (a nivel graduado y subgraduado). Su investigación ha cubierto una variedad de temas incluyendo: flujo e intercambio de gases en suelos, ecología microbiana de suelos, fertilidad de suelos, manejo de nutrientes, transporte de nutrientes de suelos agrícolas y calidad de aguas.
  	</div>
	</div>
</div>


   <div class="col-xs-4">
	<div class="media">
  		<a class="">
    		<img class="img-rounded" src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/personal/DaveBachoon.jpg" alt="..." style="width:150px; height:150px; float:left; margin-right:10px">
  		</a>
  	<div class="" style="text-align:justify">
    	<h5 class="media-heading"> Dave Bachoon </h5>
    	El Dr.David Bachoon tiene un doctorado en microbiología de la Universidad del Estado de Georgia. Actualmente dicta cátedra en microbiología en Georgia College and State University. Su investigación está enfocada en herramientas para la detección de contaminación en aguas, enfatizando la detección de bacterias patogénicas fecales, “microbial source tracking” usando tecnologías de PC.
  	</div>
	</div>
</div>

</div>

<div style="margin-left:1%; margin-right:2%">

<table class="table table-striped" style="margin-top:2%">
<tr>
  <th>Título</th>
  <th>Nombre</th> 
  <th>Institución</th>
  <th>Responsabilidad</th>
</tr>

<tr>
  <td id="myTD"> Manejador del Proyecto e Investigador Principal</td>
  <td> David Sotomayor </td>
  <td> Universidad de Puerto Rico - Mayagüez </td>
  <td> Dirige y coordina las actividades del proyecto: muestreo de campo, calendario, análisis de laboratorio, manejo de datos, análisis estadístico, preparación de reporte/ publicación, manejo administrativo</td>
</tr>

<tr>
  <td> Oficial de Control de Calidad </td>
   <td> Gustavo Martínez </td>
  <td> Universidad de Puerto Rico - Mayagüez </td>
  <td>Dirige el análisis de nutrientes en el laboratorio, proyecto QAPP, diseño de estudio, entrenamiento de voluntarios y mentores, preparación de reporte/ publicación </td>
</tr>

<tr>
  <td> Coordinador de Control de Calidad </td>
   <td> Luis R. Pérez</td>
  <td> Universidad de Puerto Rico - Mayagüez  </td>
  <td> El Dr. Luis Pérez Alegria es catedrático en la Universidad de Puerto Rico, Recinto Universitario de Mayagüez en el Departamento de Ingeniería Agrícola y Biosistemas. El Dr. Pérez regularmente enseña los cursos de Aplicación de Sistemas de Información Geográfica en la agricultura y Manejo de Suelo y Agua.  Su investigación ha cubierto temas que incluyen análisis hidrológico e hidráulico, transporte de nutrientes y sedimentos, evaluación de usos de terrenos, manejo de desechos agrícolas.  </td>
</tr>

<tr>
  <td>Colaborador</td>
   <td> Dave Bachoon </td>
  <td> Georgia College and State University </td>
  <td> Dirige el análisis de marcadores microbiológicos </td>
</tr>


<tr>
  <td>Colaborador</td>
   <td> Jose Amador </td>
  <td> University of Rhode Island </td>
  <td> Diseño de estudio, preparación de reporte/ publicación </td>
</tr>

<tr>
  <td>Coordinadora de Voluntarios 4-H</td>
   <td> Judith Conde </td>
  <td> Universidad de Puerto Rico - Mayagüez </td>
  <td> Dirigirá y coordinará la participación de voluntarios en actividades de muestreo </td>
</tr>

<tr>
  <td>Líder de Muestreo de Campo</td>
   <td> Paloma Rodriguez </td>
  <td> Universidad de Puerto Rico - Mayagüez </td>
  <td> Bajo la dirección del manejador del QAPP: dirigir todos los muestreo de campo, recopilar datos del campo, mantenimiento de equipos, apoyo en el laboratorio para la preparación de muestras microbianas.</td>
</tr>

<tr>
  <td>Asistente de Investigación</td>
   <td> Hector Torres </td>
  <td> Universidad de Puerto Rico - Mayagüez </td>
  <td> Llevar a cabo el muestreo de campo, recopilar datos del campo, mantenimiento de equipos, apoyo en el laboratorio para la preparación de muestras microbianas, entrada de datos.</td>
</tr>

<tr>
  <td>Asistente de Investigación</td>
   <td> Rosario Gaud </td>
  <td> Universidad de Puerto Rico - Mayagüez </td>
  <td> Llevar a cabo análisis microbiológicos de las muestras de agua, entrada de datos. </td>
</tr>

<tr>
  <td>Asistente de Investigación</td>
   <td> Cristina López </td>
  <td> Universidad de Puerto Rico - Mayagüez </td>
  <td> Llevar a cabo el muestreo de campo, recopilar datos del campo, mantenimiento de equipos, apoyo en el laboratorio para la preparación de muestras microbianas, entrada de datos. </td>
</tr>

<tr>
  <td>Asistente de Investigación</td>
   <td> Armando Román </td>
  <td> Universidad de Puerto Rico - Mayagüez </td>
  <td> Llevar a cabo análisis microbiológicos de las muestras de agua, entrada de datos. </td>
</tr>

</table>

</div>

<div class="row" id="myRows" style="margin-top:50px">
  <div class="col-xs-6"> 

	<div class="panel panel-default">
  		<div class="panel-heading">
    		<h3 class="panel-title"> Personal de apoyo </h3>
  		</div>
  		<div class="panel-body">
    		Paloma Rodriguez - Estudiante Graduada
    		<br></br>
			Glorisell Negrón - Catedrática en Salud Ambiental
			<br></br>
			Hector Torres - Técnico de Investigaciones Científicas
			<br></br>
			Rosario Gaud - Técnico de Investigaciones Científicas
			<br></br>
			Armando Román - Estudiante Subgraduado
			<br></br>
      Cristina Lopez - Estudiante Graduada
      <br></br>
  		</div>
  	</div>
  </div>

<div class="col-xs-6"> 

	<div class="panel panel-default">
  		<div class="panel-heading">
    		<h3 class="panel-title"> Voluntarios participantes del grupo 4H y sus mentores </h3>
  		</div>
  		<div class="panel-body">
    		Agro. Isbeth Irizarry Martínez - Extensionista Guánica/Guayanilla
    		<br></br>
			Agro. Anibal I. Ruiz - Extensionista/Lajas
       <br></br>
      Yaneris L. Torres Burgos - Escuela Lysander Borrero Terry 
      <br></br>
      Christopher Rivera Torres - Escuela Áurea E. Quiles 
      <br></br>
      Katiushka P. Berrocales - Escuela Áurea E. Quiles 
      <br></br>
      Juan C. García - Escuela Áurea E. Quiles 
      <br></br>
      Kevin Santiago Llabrera - Escuela Áurea E. Quiles 
      <br></br>
      Adriana Rosado Vega - Escuela Áurea E. Quiles 
      <br></br>
      Carlos A. Vega Chacón - Escuela Áurea E. Quiles 
      <br></br>
      Nisamar Sanabria - Escuela Leonides Morales 
      <br></br>
      Zulimar Nazario Martinez - Escuela Leonides Morales 
      <br></br>
      Joyce M. Acosta Pardo - Escuela Leonides Morales 
      <br></br>
      Alexander J. Casillas Sánche - Escuela Áurea E. Quiles 
      <br></br>
      Damaris E. Vega Lugo - Escuela Áurea E. Quiles 
      <br></br>
      Marielis Nivar Meléndez - Escuela Áurea E. Quiles 
  		</div>
  	</div>
</div>


