<div id="carousel-campo1" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-campo1" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-campo1" data-slide-to="1"></li>
    <li data-target="#carousel-campo1" data-slide-to="2"></li>
    <li data-target="#carousel-campo1" data-slide-to="3"></li>
    <li data-target="#carousel-campo1" data-slide-to="4"></li>
    <li data-target="#carousel-campo1" data-slide-to="5"></li>
    <li data-target="#carousel-campo1" data-slide-to="6"></li>
    <li data-target="#carousel-campo1" data-slide-to="7"></li>
      </ol>


  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    
    <div class="item active peopleCarousel">
      <img class="peopleCarousel" src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/campo/10_1_14_-_%2317_finca_arroz_guanica.jpg"alt="...">
      <div class="carousel-caption" id="myCarouselCaption">  </div>
    </div>
    
    <div class="item peopleCarousel">
      <img class="peopleCarousel" src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/campo/10_1_14-_%2316_estancamiento.jpg" alt="...">
      <div class="carousel-caption" id="myCarouselCaption">  </div>
    </div>
    
    <div class="item peopleCarousel">
      <img ="peopleCarousel" src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/campo/10_22_14-%2310_deslizamiento.jpg" alt="...">
      <div class="carousel-caption" id="myCarouselCaption">  </div>
    </div>
  

    <div class="item peopleCarousel">
      <img class="peopleCarousel" src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/campo/10_22_14-%2310_pared_con_marca_de_agua.jpg" alt="...">
      <div class="carousel-caption" id="myCarouselCaption">  </div>
    </div>
    
    <div class="item peopleCarousel">
      <img class="peopleCarousel" src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/campo/10_22_14-%2315_puente.jpg" alt="...">
      <div class="carousel-caption" id="myCarouselCaption">  </div>
    </div>

    <div class="item peopleCarousel">
      <img class="peopleCarousel" src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/campo/10_22_14-%236_casas_y_grava.jpg" alt="...">
      <div class="carousel-caption" id="myCarouselCaption">  </div>
    </div>
    
    <div class="item peopleCarousel">
      <img class="peopleCarousel" src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/campo/10_22_14-tributario_a_la_%2310.jpg" alt="...">
      <div class="carousel-caption" id="myCarouselCaption"></div>
    </div>

    <div class="item peopleCarousel">
      <img class="peopleCarousel" src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/campo/10_8_14-%2319__descarga_a_bahia_cmp.jpg" alt="...">
      <div class="carousel-caption" id="myCarouselCaption"> </div>
    </div>
    
  
    
  </div>




  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-campo1" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#carousel-campo1" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span></a>

</div>
