<div id="carousel-campo2" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
   <ol class="carousel-indicators">
    <li data-target="#carousel-campo2" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-campo2" data-slide-to="1"></li>
    <li data-target="#carousel-campo2" data-slide-to="2"></li>
    <li data-target="#carousel-campo2" data-slide-to="3"></li>
    <li data-target="#carousel-campo2" data-slide-to="4"></li>
    <li data-target="#carousel-campo2" data-slide-to="5"></li>
    <li data-target="#carousel-campo2" data-slide-to="6"></li>
    <li data-target="#carousel-campo2" data-slide-to="7"></li>
    <li data-target="#carousel-campo2" data-slide-to="8"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    
    <div class="item active peopleCarousel">
      <img class="peopleCarousel" src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/campo/10_8_14-%2320_paisaje_y_tubo_descarga_cmpr.jpg" alt="...">
      <div class="carousel-caption" id="myCarouselCaption">  </div>
    </div>
    
    <div class="item peopleCarousel">
      <img class="peopleCarousel" src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/campo/20140609_134523.jpg" alt="...">
      <div class="carousel-caption" id="myCarouselCaption">  </div>
    </div>
    
    <div class="item peopleCarousel">
      <img ="peopleCarousel" src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/campo/10_22_14-%2310_deslizamiento.jpg" alt="...">
      <div class="carousel-caption" id="myCarouselCaption">  </div>
    </div>
  

    <div class="item peopleCarousel">
      <img class="peopleCarousel" src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/campo/20140803_173054.jpg" alt="...">
      <div class="carousel-caption" id="myCarouselCaption">  </div>
    </div>
    
    <div class="item peopleCarousel">
      <img class="peopleCarousel" src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/campo/20140609_134554.jpg" alt="...">
      <div class="carousel-caption" id="myCarouselCaption">  </div>
    </div>

    <div class="item peopleCarousel">
      <img class="peopleCarousel" src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/campo/20140803_173109.jpg" alt="...">
      <div class="carousel-caption" id="myCarouselCaption">  </div>
    </div>
    
    <div class="item peopleCarousel">
      <img class="peopleCarousel" src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/campo/20140805_074842.jpg" alt="...">
      <div class="carousel-caption" id="myCarouselCaption"></div>
    </div>

    <div class="item peopleCarousel">
      <img class="peopleCarousel" src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/campo/20140806_120521.jpg" alt="...">
      <div class="carousel-caption" id="myCarouselCaption"> </div>
    </div>
    
    <div class="item peopleCarousel">
      <img class="peopleCarousel" src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/campo/20140806_130055.jpg" alt="...">
      <div class="carousel-caption" id="myCarouselCaption"></div>
    </div>
    
  </div>




  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-campo2" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#carousel-campo2" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span></a>

</div>