<div id="carousel-club4h" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-club4h" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-club4h" data-slide-to="1"></li>
    <li data-target="#carousel-club4h" data-slide-to="2"></li>
    <li data-target="#carousel-club4h" data-slide-to="3"></li>
    <li data-target="#carousel-club4h" data-slide-to="4"></li>
    <li data-target="#carousel-club4h" data-slide-to="5"></li>
  </ol>


  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    
    <div class="item active peopleCarousel">
      <img class="peopleCarousel" src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/club4h/20140806_084252.jpg" alt="...">
      <div class="carousel-caption">  </div>
    </div>
    
    <div class="item peopleCarousel">
      <img class="peopleCarousel" src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/club4h/014.jpg" alt="...">
      <div class="carousel-caption">  </div>
    </div>
    
    <div class="item peopleCarousel">
      <img ="peopleCarousel" src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/club4h/018.jpg" alt="...">
      <div class="carousel-caption">  </div>
    </div>
  
    <div class="item peopleCarousel">
      <img class="peopleCarousel" src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/club4h/028.jpg" alt="...">
      <div class="carousel-caption">  </div>
    </div>

    <div class="item peopleCarousel">
      <img class="peopleCarousel" src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/club4h/068.jpg" alt="...">
      <div class="carousel-caption">  </div>
    </div>
    
    <div class="item peopleCarousel">
      <img class="peopleCarousel" src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/club4h/dsc01431.jpg" alt="...">
      <div class="carousel-caption">  </div>
    </div>

    
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-club4h" role="button" data-slide-to="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  </a>
  <a class="right carousel-control" href="#carousel-club4h" role="button" data-slide-to="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  </a>

</div>
