<div id="carousel-filtros" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
   <ol class="carousel-indicators">
    <li data-target="#carousel-filtros" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-filtros" data-slide-to="1"></li>
    <li data-target="#carousel-filtros" data-slide-to="2"></li>
    <li data-target="#carousel-filtros" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    
    <div class="item active peopleCarousel">
      <img class="peopleCarousel" src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/filtros/aguas-abajo-planta-filtro-lajas.jpg" alt="...">
      <div class="carousel-caption" id="myCarouselCaption">  </div>
    </div>
    
    <div class="item peopleCarousel">
      <img class="peopleCarousel" src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/filtros/102-08+(1)_.jpg" alt="...">
      <div class="carousel-caption" id="myCarouselCaption">  </div>
    </div>
    
    <div class="item peopleCarousel">
      <img ="peopleCarousel" src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/filtros/102-09+(2)_.jpg" alt="...">
      <div class="carousel-caption" id="myCarouselCaption">  </div>
    </div>
  

    <div class="item peopleCarousel">
      <img class="peopleCarousel" src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/filtros/103-18+(7)_.jpg" alt="...">
      <div class="carousel-caption" id="myCarouselCaption">  </div>
    </div>
    
    
  </div>




  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-filtros" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#carousel-filtros" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span></a>

</div>