<div class="push"> </div>
<div class="footer">
<div class="jumbotron" id="footerJumbotron">
  		<div class="container">
        <div class="row">

          <div class="col-xs-6">
            <img src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/logos/uprm2.png" width="100px" height="100px" style="margin-left:5%"/>
            <img src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/logos/estacion_agricola_burned.png" width="100px" height="100px" style="margin-left:2%"/>
          </div>

          <div class="col-xs-6">  
            <p style="font-size:14px"> 
              <strong> Recinto Universitario de Mayagüez </strong> <br>
              Universidad de Puerto Rico <br>
              Mayagüez PR 00681-9000 <br>
              Tel: (787) 832-4040 <br>
              <strong> <%= link_to "Contáctanos", getcontact_path %> </strong>
            </p>
          </div>

        </div>
	 </div>
  </div>
</div>

         


 

  

      