<div id="carousel-muestreo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-muestreo" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-muestreo" data-slide-to="1"></li>
    <li data-target="#carousel-muestreo" data-slide-to="2"></li>
    <li data-target="#carousel-muestreo" data-slide-to="3"></li>
    <li data-target="#carousel-muestreo" data-slide-to="4"></li>
    <li data-target="#carousel-muestreo" data-slide-to="5"></li>
    <li data-target="#carousel-muestreo" data-slide-to="6"></li>
    <li data-target="#carousel-muestreo" data-slide-to="7"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    
    <div class="item active peopleCarousel">
      <img class="peopleCarousel" src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/muestreo/manejo_muestras_1.jpg" alt="...">
      <div class="carousel-caption">  </div>
    </div>
    
    <div class="item peopleCarousel">
      <img class="peopleCarousel" src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/muestreo/manejo_muestras_2.jpg" alt="...">
      <div class="carousel-caption">  </div>
    </div>
    
    <div class="item peopleCarousel">
      <img ="peopleCarousel" src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/muestreo/medidas_flujo.jpg" alt="...">
      <div class="carousel-caption">  </div>
    </div> 

    <div class="item peopleCarousel">
      <img class="peopleCarousel" src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/muestreo/muestreo_1.jpg" alt="...">
      <div class="carousel-caption">  </div>
    </div>
    
    <div class="item peopleCarousel">
      <img class="peopleCarousel" src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/muestreo/muestreo_2.jpg" alt="...">
      <div class="carousel-caption">  </div>
    </div>

    <div class="item peopleCarousel">
      <img class="peopleCarousel" src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/muestreo/muestreo_3.jpg" alt="...">
      <div class="carousel-caption">  </div>
    </div>
    
    <div class="item peopleCarousel">
      <img class="peopleCarousel" src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/muestreo/punto-de-muestreo_2.jpg" alt="...">
      <div class="carousel-caption">  </div>
    </div>

    <div class="item peopleCarousel">
      <img class="peopleCarousel" src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/muestreo/punto-de-muestreo_1.jpg" alt="...">
      <div class="carousel-caption">  </div>
    </div>
        
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-muestreo" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  </a>
  <a class="right carousel-control" href="#carousel-muestreo" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  </a>

</div>
